input textarea form {
    font-family: inherit;
}

body,
html {
    height: 100%;
}

.container {
    color: black;
}

.wrapper {
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

main {
    flex: 1 1 auto;
}



header {
    position: relative;

    a {
        color: #FFFFFF;
        text-decoration: none;
    }
}

nav {
    position: fixed;
    height: 50px;
    width: 100%;
    background-color: #212121;
    z-index: 1;
}

.menu {
    display: flex;
    justify-content: space-between;
    padding: 13px 70px;
    list-style: none;

    &_link {
        font-weight: 300;
        font-size: 15px;
        color: #FFFFFF;
    }

    &_item {
        padding-right: 46px;
        border-right: 2px dotted black;
        &:last-child {
            border-right: none;
        }
    }

    a:hover {
        transition: 1s all;
        color: yellow;
    }
}

.subheader {
    top: 50px;
    position: absolute;
    width: 100%;
    height: 86px;
    background-color: rgba(0, 0, 0, 0.6);

    .subheader_logo {
        display: inline-block;
        margin-top: 16px;
        width: 32px;
        img {
            width: 100%;
            object-fit: contain;
        }
        &_text {
            display: inline-block;
            color: #fff;
        }
    }
}

.subheader_oficcial {
    font-weight: 100;
    font-size: 13px;
    align-items: center;
    color: #FFFFFF;
}

.subheader_call {
    margin-top: 18px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    font-size: 12px;
    color: #FFFFFF;
    text-align: right;
}

.subheader_phone {
    a {
        display: block;

        &:hover {
            transition: 1s all;
            color: yellow;
        }
    }

    font-weight: 400;
    font-size: 20px;
    text-align: right;
}

.subheader_btn {
    margin-top: 20px;
    width: 172px;
    height: 46px;
    background: linear-gradient(0deg, #1EACC7 0%, #4CE2FF 100%);
    box-shadow: inset 0px -3px 0px rgba(0, 0, 0, 0.12);
    border: 0;
    border-radius: 4px;
    font-weight: 400;
    font-size: 14px;
    color: #FFFFFF;
    text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.21);

    a:hover {
        transition: 1s all;
        color: yellow;
    }

    @include btn_hover
}

.haburger {
    display: none;
}

.promo {
    min-height: 800px;
    background: url('../image/first_screen/uber_bg_screen1.png') center (center / cover) no-repeat;
    text-align: center;
    padding: 150px 0 185px 0;
}

.promo_header {
    margin: 0;
    margin-top: 66px;
    font-weight: 900;
    font-size: 60px;
    text-transform: uppercase;
    color: #FFFFFF;
}

.promo_subheader {
    margin: 0;
    margin-top: 12px;
    font-weight: 700;
    font-size: 36px;
    color: #FFFFFF;
}

.promo_dscr {
    margin-top: 16px;
    font-weight: 400;
    font-size: 18px;
    color: #FFFFFF;
}

.promo_btn {
    display: block;
    margin: 116px auto 0 auto;
    width: 259px;
    height: 63px;
    background: linear-gradient(0deg, #1EACC7 0%, #4CE2FF 100%);
    box-shadow: inset 0px -4px 0px rgba(0, 0, 0, 0.12);
    border: 0;
    border-radius: 4px;
    font-weight: 400;
    font-size: 18px;
    color: #FFFFFF;
    text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.21);
}

.promo_btn:hover {
    transition: 1s all;
    color: yellow;
}

.label_block {
    margin: 0 auto;
    margin-top: 20px;
    width: 115px;
    height: 27px;
    background: #000000;
    text-align: center;
    font-weight: 400;
    font-size: 11px;
    line-height: 28px;
    color: #FFFFFF;
    text-transform: uppercase;
}

.reasons {
    padding: 0 0 64px 0;

    h2 {
        margin-top: 34px;
        text-align: center;
        font-weight: 700;
        font-size: 38px;
        color: #222222;
    }

    .item_around {
        display: flex;
        min-width: 116px;
        height: 116px;
        background: $text_color_teal;
        border-radius: 50%;
        align-items: center;
        justify-content: center;
    }

    .item_img {
        display: block;
    }

    .item_text {
        max-width: 370px;
    }

    .item_title {
        font-weight: 400;
        font-size: 17px;
        color: #1EACC7;
    }

    .item_dscr {
        font-weight: 300;
        font-size: 15px;
        line-height: 21px;
        color: #202020;
        text-align: justify;
    }
}

.mobile {
    min-height: 864px;
    padding: 48px 0 76px 0;
    background: url('../image/mobile_app/mobile_main_bg.png') center center / cover no-repeat;

    .row {
        margin-top: 30px;
    }

    .title {
        font-style: normal;
        font-weight: 700;
        font-size: 38px;
        text-transform: uppercase;
        color: #222222;
        align-items: center;
        text-align: center;
        text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        margin-top: 34px;
    }

    .subtitle {
        font-weight: 400;
        font-size: 17px;
        align-items: center;
        text-align: center;
        color: #222222;
        margin-top: 1px;
    }

    .mobile_item {
        position: relative;
        height: 320px;
        width: 280px;
        margin: 0 auto;
        margin-bottom: 20px;
        padding: 80px 25px 0 25px;
    }

    &_item_1 {
        background: url('../image/mobile_app/ma_bg1.png') center center / cover no-repeat;
    }

    &_item_2 {
        background: url('../image/mobile_app/ma_bg2.png') center center / cover no-repeat;
    }

    &_item_3 {
        background: url('../image/mobile_app/ma_bg3.png') center center / cover no-repeat;
    }

    &_item_4 {
        background: url('../image/mobile_app/ma_bg4.png') center center / cover no-repeat;
    }

    &_item_5 {
        background: url('../image/mobile_app/ma_bg5.png') center center / cover no-repeat;
    }

    &_item_6 {
        background: url('../image/mobile_app/ma_bg6.png') center center / cover no-repeat;
    }

    &_item_subtitle {
        font-weight: 400;
        font-size: 24px;
        color: #FFFFFF;
        text-align: center;
        cursor: pointer;
    }

    &_item_subtitle:hover {
        transition: 1s all;
        color: yellow;
    }


    &_item_plus {
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        bottom: 35px;
        left: 50%;
        transform: translateX(-50%);
        width: 29px;
        height: 29px;
        background: #000000;
        border-radius: 100%;
        margin: 0 auto;
        cursor: pointer;

        &:before {
            content: '';
            display: block;
            width: 14px;
            height: 2px;
            background-color: $text_color_teal;
        }

        &:after {
            content: '';
            display: block;
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
            width: 2px;
            height: 14px;
            background-color: $text_color_teal;
        }

        &:hover {

            &:before,
            &:after {
                transition: 1s all;
                background-color: $color_rose;
            }
        }
    }
}


.choice {
    position: relative;
    min-height: 758px;
    padding: 56px 0px 138px 0;
    background: url('../image/mobile_app/mobile_main_bg.png') center (center / cover) no-repeat;
    z-index: -2;

    .img_car {
        position: relative;
        display: block;
        margin: 56px auto 0 auto;
        z-index: 1;
    }

    .title_white {
        margin-top: 28px;
        font-weight: 700;
        font-size: 38px;
        align-items: center;
        text-align: center;
        text-transform: uppercase;
        color: #FFFFFF;
    }

    .subtitle {
        font-weight: 400;
        font-size: 17px;
        align-items: center;
        text-align: center;
        color: #FFFFFF;
    }

    .dscr {
        font-weight: 300;
        font-size: 17px;
        align-items: center;
        text-align: center;
        color: #222222;
    }

    .element_bg {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 500px;
        background: #070716;
        z-index: -1;
    }

    .label_block_white {
        margin: 0 auto;
        width: 115px;
        height: 27px;
        background: #FFFFFF;
        text-align: center;
        font-weight: 400;
        font-size: 11px;
        line-height: 28px;
        color: #000000;
    }

}

.require {
    padding: 56px 0 86px 0;

    .title {
        margin-top: 28px;
        font-weight: 700;
        font-size: 38px;
        align-items: center;
        text-align: center;
        text-transform: uppercase;
    }

    &_block {
        margin-top: 34px;
        margin-bottom: 62px;
    }

    &_nmb {
        margin-bottom: 0px;
    }

    &_title {
        font-weight: 400;
        font-size: 22px;
        color: #1CA8C3;
    }

    &_list {
        margin-top: 20px;
        font-weight: 300;
        font-size: 17px;
        color: #222222;
        list-style: none;
        padding-left: 50px;

        li {
            position: relative;
            margin-bottom: 10px;

            &:before {
                content: '';
                display: block;
                position: absolute;
                left: -32px;
                top: 12px;
                transform: translateY(-50%);
                width: 22px;
                height: 20px;
                background: url('../icon/check/check_blue.png') center center / cover no-repeat;
            }
        }
    }

    &_dscr {
        font-weight: 300;
        font-size: 17px;
        color: #1CA8C3;
    }

    .attention {
        .require_title {
            color: $color_rose;
        }

        .require_list {
            li {
                &::before {
                    background: url('../icon/check/check_red.png') center center / cover no-repeat;
                }
            }
        }
    }
}

.worldwide {
    min-height: 720px;
    background: url('../image/world_bg/world_bg.png') center center / cover no-repeat;
    padding: 48px 0 48px 0;
    position: relative;

    .label_block_white {
        width: 115px;
        height: 27px;
        background: #FFFFFF;
        text-align: center;
        font-weight: 400;
        font-size: 11px;
        color: #000000;
        text-transform: uppercase;
    }

    &_title {
        margin-top: 38px;
        line-height: 48px;
        font-weight: 700;
        font-size: 38px;
        align-items: center;
        text-align: center;
        text-transform: uppercase;
        color: #FFFFFF;
    }

    &_subtitle {
        margin-top: 14px;
        font-weight: 400;
        font-size: 17px;
        align-items: center;
        text-align: center;
        color: #FFFFFF;
    }

    &_text_bottom {
        position: absolute;
        font-weight: 400;
        font-size: 15px;
        line-height: 68px;
        display: flex;
        text-transform: uppercase;
        bottom: 0px;
        left: 50%;
        transform: translateX(-50%);

        a {
            color: $text_color_teal
        }
    }
}



footer {
    padding: 40px 0 40px 0;
    min-height: 134px;
    width: 100%;
    background-color: white;
    position: relative;

    .footer_wrapper {
        display: flex;
        justify-content: space-between;

        &_block {
            width: 33%;
        }
    }

    .footer_socail {
        position: absolute;
        bottom: 40px;
        left: 20px;
    }

    .footer_around {
        width: 36px;
        height: 36px;
        background-color: black;
        border-radius: 50%;

        i {
            color: white;
        }
    }

    .footer_item {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 11px;
        /*      margin-top: 50%;
        transform: translateY(-70%);  */
    }

    .footer_store {
        position: absolute;
        bottom: 40px;
        right: 20px;

    }

    .divider {
        display: block;
        margin: 0 auto;
        height: 4px;
        width: 300px;
        background-color: $text_color_teal;
    }

    .footer_menu {

        a {
            color: black;
            text-decoration: none;
            text-transform: uppercase;
        }

        .footer_top_menu {
            margin-top: 32px;
            font-weight: 300;
            font-size: 15px;
            align-items: center;
            color: #070716;
        }

        .footer_sub_menu {
            font-weight: 300;
            font-size: 11px;
            align-items: center;
            color: #999999;
            margin-top: 18px;

        }

    }
}

.xs-visible {
        display: none;
    }